<h1 class="mt-3">Tabla de Categorias</h1>

{{#if cat}}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Categorias</th>
    </tr>
  </thead>
  <tbody>
    {{#each cat}}
    <tr>
      <th scope="row">{{doc}}</th>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}