<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  
  <body>

  <!-- hero----------------------------------------------------------------------------->
  

              <!-- columns----------------------------------------------------------------------->
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3">

		<div id="here" class="columns">
			<div class="column">
				<div class="menu sticky">				
					<p  class="menu-label"><b>Categorias Disponibles</b></p>
					<ul id="menu" class="menu-list">
            {{#each categorias as |categoria|}}
						<li><a href="#{{categoria.nombre}}">{{categoria.nombre}}</a></li>
						{{/each}}
					</ul>
				</div>
			</div>
			
  <div class="column  content">
            
    <div class="columns">
      {{#each categorias as |categoria|}}      
				
      <div class="column">
        <h2 id="{{categoria.nombre}}" class="title is-3">{{categoria.nombre}}</h2>
        <div class="card">
          <div class="card-content">
            <h2 class="title"></h2>
              <h3 class="subtitle"></h3>
          </div>
          <footer class="card-footer">
            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
            </div>
            <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
            </div>
            <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
            </div>
          </footer>
                   
        </div>
        <form action="/crear-categoria" method="get">
  <button type="submit" class="btn btn-success">Agregar categorías</button>
</form>
      </div>
                  
                                {{/each}}
                                </div>
                
</div>
</div>
</div>
</div>
</div>
</section>
  </body>
</html>