<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  
  <body>

  <!-- hero----------------------------------------------------------------------------->
  

              <!-- columns----------------------------------------------------------------------->
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3">

		<div id="here" class="columns">
			<div class="column">
				<div class="menu sticky">				
					<p  class="menu-label"><b>Categorias Disponibles</b></p>
					<ul id="menu" class="menu-list">
						<li><a href="#electronica">Electronica</a></li>
						<li><a href="#deportes">Deportes</a></li>
						<li><a href="#computacion">Computación</a></li>
						<li><a href="#carpinteria">Carpinteria</a></li>
						<li><a href="#herreria">Herreria</a></li>
            <li><a href="#mecanica">Mecanica</a></li>
						
					</ul>
				</div>
			</div>
			
  <div class="column  content">
                  
				<h2 id="electronica" class="title is-3">Electronica</h2>
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <h2 class="title"></h2>
              <h3 class="subtitle"></h3>
          </div>
          <footer class="card-footer">
            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
            </div>
            <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
            </div>
            <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
            </div>
          </footer>
                   
        </div>
      </div>

                  <div class="column ">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title"></h2>
                          <h3 class="subtitle"></h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  

                                

                                </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title"></h2>
                          <h3 class="subtitle"></h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div> 
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title"></h2>
                          <h3 class="subtitle"></h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                   </div>

                  
                                  </footer>
                                   

                                   



                               
                                

                                </div>
                                </div>
                                

				<h2 id="deportes" class="title is-3">Deportes</h2>
             
             
              <div class="columns">
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title"></h2>
                          <h3 class="subtitle"></h3>
                          </div>
                          <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>

                                </footer>
                               
                                </footer>
                   
                  </div>
                  </div>
                  <div class="column ">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title"></h2>
                          <h3 class="subtitle"></h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  

                                

                                </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title"></h2>
                          <h3 class="subtitle"></h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div> 
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title"></h2>
                          <h3 class="subtitle"></h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                   </div>
                  
                                  </footer>
                                   

                                   



                               
                                

                           
                                

                                </div>
                                </div>
                                

				<h2 id="computacion" class="title is-3">Computacion</h2>
             
             
              <div class="columns">
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title"></h2>
                          <h3 class="subtitle"></h3>
                          </div>
                          <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>

                                </footer>
                               
                                </footer>
                   
                  </div>
                  </div>
                  <div class="column ">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title"></h2>
                          <h3 class="subtitle"></h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  

                                

                                </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title"></h2>
                          <h3 class="subtitle"></h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div> 
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title"></h2>
                          <h3 class="subtitle"></h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                   </div>
                  
                                  </footer>
                                

                                

                                  </div>
                                </div>

				<h2 id="carpinteria" class="title is-3">Carpinteria</h2>
             
             
              <div class="columns">
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title"></h2>
                          <h3 class="subtitle"></h3>
                          </div>
                          <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>

                                </footer>
                               
                                </footer>
                   
                  </div>
                  </div>
                  <div class="column ">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title"></h2>
                          <h3 class="subtitle"></h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  

                                

                                </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title"></h2>
                          <h3 class="subtitle"></h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div> 
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title"></h2>
                          <h3 class="subtitle"></h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                   </div>
                  
                                  </footer>  

                                </div>
                                </div>

                                     </div>
                                </div>
                                

				<h2 id="herreria" class="title is-3">Herreria</h2>
             
             
              <div class="columns">
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title"></h2>
                          <h3 class="subtitle"></h3>
                          </div>
                          <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>

                                </footer>
                               
                                </footer>
                   
                  </div>
                  </div>
                  <div class="column ">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title"></h2>
                          <h3 class="subtitle"></h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  

                                

                                </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title"></h2>
                          <h3 class="subtitle"></h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div> 
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title"></h2>
                          <h3 class="subtitle"></h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                   </div>


                  
                                  </footer>
                                   

                                   



                               
                                

                                </div>
                                
                              </div>

  </body>
</html>