<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <link rel="shortcut icon" href="https://www.eltiempo.com/uploads/2020/03/20/5e74508194f86.jpeg" type="https://www.eltiempo.com/uploads/2020/03/20/5e74508194f86.jpeg">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>

    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hello Bulma!</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css">
        <link href="~bulma-carousel/dist/css/bulma-carousel.min.css" rel="stylesheet">
</head>

<body>
  
       
<!-- No tocar desde aqui (Estirar la imagen)-->
       <div class="navbar-dropdown is-boxed">                        
                    </div>
                </div>
            </div>
        </div>
<!-- hasta aqui-->
                

    <section class="hero">
        <figure class="image">
            <img src="https://www.eltiempo.com/uploads/2020/03/20/5e74508194f86.jpeg">
        </figure>
    </section>

    <section class="section">
        <div class="container has-text-centered">
            <h2 class="title">Du Lernst</h2>
            <p>Du Lernst es la plataforma de tutorias de aprendizaje colaborativo grande, con miles de videocursos, se puede 
                utilizar de 3 formas.
            </p>

            <div class="columns is-centered" style="padding: 2rem">
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <img src="https://aprhifac.mx/wp-content/uploads/2020/01/aprender-a-aprender-competencia-laboral.jpeg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Aprende</p>
                                </div>
                            </div>

                            <div class="content">
                               Como alumno, siempre encontrarás algo nuevo para aprender entre los miles de videocursos.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <img src="https://bismx.files.wordpress.com/2016/08/consultoria-it.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Enseña</p>
                                   
                                </div>
                            </div>

                            <div class="content">
                                Demuestra tus dotes docentes y saca partido a tus conocimientos convirtiéndote en profesor.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <img src="https://reporteminero.cl/files/5e9db4b4b7080_890x533.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Promueve</p>
                                </div>
                            </div>

                            <div class="content">
                               Comparte los cursos de otros usuarios y empieza a ganar dinero como afiliado. ¡Así de fácil!.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="section">
        <div class="container has-text-centered">
            <h2 class="title">Aprender nunca había sido tan fácil Du Lernst te ofrece:</h2>

            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image">
                            <img src="https://www.flaticon.es/svg/static/icons/svg/992/992700.svg">
                        </figure>
                        <p class="title">Flexibilidad</p>
                        <p class="subtitle">Clases cuando quieras, desde el sofá de casa, despacho u oficina.</p>
                        
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image">
                            <img src="https://www.flaticon.es/svg/static/icons/svg/1828/1828516.svg">
                        </figure>
                        <p class="title">Confianza</p>
                        <p class="subtitle">Nos encargamos de todo. Así tú puedes centrarte en tus clases.</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image">
                            <img src="https://www.flaticon.es/svg/static/icons/svg/2082/2082226.svg">
                        </figure>
                        <p class="title">Profesores expertos</p>
                        <p class="subtitle">Da un salto en tu carrera profesional, domina un idioma o apruébalo todo</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image">
                            <img src="https://www.flaticon.es/svg/static/icons/svg/1101/1101626.svg">
                        </figure>
                        <p class="title">Ahorra</p>
                        <p class="subtitle">Clases muy económicas: sin matrícula, mínimo de horas...</p>
                        
                    </article>
                </div>
               
            </div>

        
                </p>
            </div>
        </div>
     </footer>
        <script src="../js/bulma.js"></script>

        <!-- Start Hero Carousel -->
		<section class="hero is-medium has-carousel">
			<div id="carousel-demo" class="hero-carousel">
				<div class="item-1">
					<!-- Slide Content -->
					<center>
						<img src="http://lorempixel.com/900/500/food/">
					</center>
                    
				</div>
				<div class="item-2">
					<!-- Slide Content -->
                    <center>
						<img src="http://lorempixel.com/900/500/people/">
					</center>
				</div>
				<div class="item-3">
					<!-- Slide Content -->
                  <center>
						<img src="http://lorempixel.com/900/500/animals/">
					</center>
				</div>
			</div>
			<div class="hero-head"></div>
			<div class="hero-body"></div>
			<div class="hero-foot"></div>
		</section>
		<!-- End Hero Carousel -->
		<!-- Start Hero Carousel -->
		<section class="hero is-medium has-carousel">
			<div id="carousel-demo" class="hero-carousel">
				<div class="item-1">
					<!-- Slide Content -->
					<center>
						<img src="http://lorempixel.com/900/500/food/">
					</center>
                    
				</div>
				<div class="item-2">
					<!-- Slide Content -->
                    <center>
						<img src="http://lorempixel.com/900/500/people/">
					</center>
				</div>
				<div class="item-3">
					<!-- Slide Content -->
                  <center>
						<img src="http://lorempixel.com/900/500/animals/">
					</center>
				</div>
			</div>
			<div class="hero-head"></div>
			<div class="hero-body"></div>
			<div class="hero-foot"></div>
		</section>
		<!-- End Hero Carousel -->
		<!-- Start Hero Carousel -->
		<section class="hero is-medium has-carousel">
			<div id="carousel-demo" class="hero-carousel">
				<div class="item-1">
					<!-- Slide Content -->
					<center>
						<img src="http://lorempixel.com/900/500/food/">
					</center>
                    
				</div>
				<div class="item-2">
					<!-- Slide Content -->
                    <center>
						<img src="http://lorempixel.com/900/500/people/">
					</center>
				</div>
				<div class="item-3">
					<!-- Slide Content -->
                  <center>
						<img src="http://lorempixel.com/900/500/animals/">
					</center>
				</div>
			</div>
			<div class="hero-head"></div>
			<div class="hero-body"></div>
			<div class="hero-foot"></div>
		</section>
		<!-- End Hero Carousel -->

		<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
		<script>
			bulmaCarousel.attach('#carousel-demo', {
				slidesToScroll: 1,
				slidesToShow: 1
			});
		</script>
        <script src="~bulma-carousel/dist/js/bulma-carousel.min.js"></script>

</body>

