<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <link rel="shortcut icon" href="https://www.eltiempo.com/uploads/2020/03/20/5e74508194f86.jpeg" type="https://www.eltiempo.com/uploads/2020/03/20/5e74508194f86.jpeg">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
    <link rel="stylesheet" href="../public/uploads/cursos/js/carousel.js">

    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hello Bulma!</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css">
        <link href="~bulma-carousel/dist/css/bulma-carousel.min.css" rel="stylesheet">
</head>
<body>                
<body>
  
 <!-- Inicio de Imagen -->  
 <!-- Inicio de Carousel-->
     <div class='carousel is-5 carousel-animated carousel-animate-slide'>
  <div class='carousel-container'>
    <div class='carousel-item is-active'>
      <figure class="image is-2by1"><img src="https://i.postimg.cc/br5MR4w1/cocina-fw.png"></figure>
    </div>
    <div class='carousel-item'>
      <figure class="image is-2by1"><img src="https://i.postimg.cc/WpYQjqwt/costura-fw.png"></figure>
    </div>
    <div class='carousel-item'>
      <figure class="image is-2by1"><img src="https://i.postimg.cc/FRsBXhfj/dise-o-grafico-fw.png"></figure>
    </div>
    <div class='carousel-item'>
      <figure class="image is-2by1"><img src="https://i.postimg.cc/v8KSCFGV/programacion-fw.png"></figure>
    </div>
    <div class='carousel-item'>
      <figure class="image is-2by1"><img src="https://i.postimg.cc/W1yyLBGK/musica-fw.png"></figure>
    </div>
    <div class='carousel-item'>
      <figure class="image is-2by1"><img src="https://i.postimg.cc/ZRxjR2NJ/evanisteria-fw.png"></figure>
    </div>
    <div class='carousel-item'>
      <figure class="image is-2by1"><img src="https://i.postimg.cc/W3T6Q8HC/cod-bo-fw.png"></figure>
    </div>
  </div>
  <div class="carousel-navigation is-centered">
    <div class="carousel-nav-left">
      <i class="fas fa-chevron-left" aria-hidden="true"></i>
    </div>
    <div class="carousel-nav-right">
      <i class="fas fa-chevron-right" aria-hidden="true"></i>
    </div>
  </div>
</div>           
<!-- Fin de Carousel -->  


<!-- No tocar desde aqui (Estirar la imagen)-->
       <div class="navbar-dropdown is-boxed">                        
                    </div>
                </div>
            </div>
        </div>
<!-- hasta aqui-->
                

    <section class="hero">
        <figure class="image">
            <img src="https://www.eltiempo.com/uploads/2020/03/20/5e74508194f86.jpeg">
            
        </figure>
    </section>
<!-- Fin de Imagen -->  




  


<!-- Inicio -->  

    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div data-aos="zoom-in-up" class="column is-8">
              
         <h1 align="center"class="title">
             Du lernst
            </h1>
            <h2 class="subtitle subtitled">
            Es una plaforma de tutorías de aprendizaje colaborativa grande con miles de videocursos,
            ven y comprueba por ti mismo las razones que te mantendrán estudiando con nosotros y lograr 
            tus objetivos y metas académica. Se puede utilizar en 3 formas: 
            </h2>
          </div>
        </div>

      </div>
    </div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.13.1/core.min.js"></script>
  <script>
    new Typewriter('#typewriter', {
      strings: ['Du Lernst'  ],
      autoStart: true,
      loop: true,
    });
  </script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      once: true
    });
  </script>

  <!-- Fin -->  

    
    <div class="columns is-centered" style="padding: 2rem">

      <!--Enseña (Inicio) -->
      <a href="iniciar-sesion">
    <div class="columns is-centered" style="padding: 2rem">     
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://media.giphy.com/media/wOu6pl8eZ1CDi4YWma/giphy.gif" style="width:300px;height:500px;">
    </div>
    <div class="flip-card-back">
      <br><br><br><br><br>
         <font  SIZE=150 face="Bodoni MT Black">
      <h1> "Enseña" </h1></font>
      <p>Demuestra tus dotes docentes y saca partido a tus
        conocimientos convirtiéndote en profesor.</p>
        <p><i class="far fa-arrow-alt-circle-right"></i></p>
    </div>
  </div>
</div>
        </div>
        </a>
    <!-- Enseña (Fin) -->

    <!-- Aprende (Inicio) -->
    <a href="iniciar-sesion">
    <div class="columns is-centered" style="padding: 2rem">
        <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src=" https://media.giphy.com/media/ievQWXtHwRAC1MMKU3/giphy.gif" style="width:300px;height:500px;">
    </div>
    <div class="flip-card-back">
     <br><br><br><br><br>
      <font  SIZE=150 face="Bodoni MT Black">
      <h1> "Aprende" </h1></font>
      <br><br>
      <p>Como alumno, siempre encontrarás algo nuevo 
        para aprender entre los miles de videocursos.</p>  
        <p><i class="far fa-arrow-alt-circle-right"></i></p>      
    </div>
  </div>
</div>
    </div>
    </a>
    <!-- Aprende (Fin) -->

     <!-- Promueve (Inicio) -->
     <a href="informacion">
   <div class="columns is-centered" style="padding: 2rem">
        <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://media.giphy.com/media/VJIw4RkcZ9CWzNz9p4/giphy.gif" style="width:300px;height:500px;">
    </div>
    <div class="flip-card-back">
      <br><br><br><br><br>
        <font  SIZE=150 face="Bodoni MT Black">
      <h1> "Promueve" </h1></font>
      <br><br>
      <p>Comparte los cursos de otros usuarios y empieza a ganar dinero como asociado.</p>
        
        <p><i class="far fa-arrow-alt-circle-right "></i></p>
    </div>
  </div>
</div>
</div>
</a>
    <!-- Promueve (Fin) -->
       
 </div>      
    
                          <div class="column is-8 is-offset-2">
                            <br>
                            <nav class="level">
                              <div class="level-left">
                              </div>
                              <div class="level-right">
                                <small class="level-item" style="color: var(--textLight)">
                                </small>
                              </div>
                            </nav>
                          </div>
                        </div>
                      </section>
                    </body>
                        </div>
                        </div>
                          </div>
                          </div>
                        
                      </section>

<div class="section-dark my-work" id="my-work">
        <div class="container">
          <div
            class="columns is-multiline"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <div class="column is-12">
            
            </div>
             <div class="column is-3">
           

    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div data-aos="zoom-in-up" class="column is-8">
            <h1 class="title titled is-1 mb-6">
              Aprender <span id="typewriter"></span>
            </h1>
          </div>
        </div>

      </div>
    </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.13.1/core.min.js"></script>
  <script>
    new Typewriter('#typewriter', {
      strings: ['nunca había sido tan fácil Du Lernst te ofrece:'],
      autoStart: true,
      loop: true,
    });
  </script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      once: true
    });
  </script>
   
               
        <div class="container has-text-centered">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box" style="background-color: #94ebfd00;">
        <figure class="image">                           
             <img src="https://www.flaticon.es/svg/static/icons/svg/992/992700.svg">
        </figure>
                       
           <p class="title">Flexibilidad</p>
         
           <p class="subtitle">Clases cuando quieras, desde el sofá de casa, despacho u oficina.</p>
              </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box" style="background-color: #ff989800;">
                        <figure class="image">
                            <img src="https://www.flaticon.es/svg/static/icons/svg/1828/1828516.svg">
                        </figure>
                        <p class="title">Confianza</p>
                      	 
                        <p class="subtitle">  Nos encargamos de todo. Así tú puedes centrarte en tus clases.</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box" style="background-color: #94ebfd00;" >
                        <figure class="image">
                            <img src="https://www.flaticon.es/svg/static/icons/svg/2082/2082226.svg">
                        </figure>
                        <p class="title">Profesores expertos</p>
                        <p class="subtitle">Da un salto en tu carrera profesional, domina un idioma o apruébalo todo.</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box" style="background-color: #ff737300;">
                        <figure class="image">
                            <img src="https://www.flaticon.es/svg/static/icons/svg/1101/1101626.svg">
                        </figure>
                        <p class="title">Ahorra</p>
                        <p class="subtitle">Clases muy económicas; sin matrícula, mínimo de horas.</p>
                        
                    </article>
                </div>
                
               
            </div>       
                </p>

            </div>
        </div>
        
     </footer>
        <script src="../js/bulma.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/showcase.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
      AOS.init({
        easing: "ease-out",
        duration: 800,
      });
    </script>
		

    
</html>

</body>









<script>
  var $jscomp = { scope: {} };
$jscomp.defineProperty =
  "function" == typeof Object.defineProperties
    ? Object.defineProperty
    : function (a, b, c) {
        if (c.get || c.set)
          throw new TypeError("ES3 does not support getters and setters.");
        a != Array.prototype && a != Object.prototype && (a[b] = c.value);
      };
$jscomp.getGlobal = function (a) {
  return "undefined" != typeof window && window === a
    ? a
    : "undefined" != typeof global && null != global
    ? global
    : a;
};
$jscomp.global = $jscomp.getGlobal(this);
$jscomp.SYMBOL_PREFIX = "jscomp_symbol_";
$jscomp.initSymbol = function () {
  $jscomp.initSymbol = function () {};
  $jscomp.global.Symbol || ($jscomp.global.Symbol = $jscomp.Symbol);
};
$jscomp.symbolCounter_ = 0;
$jscomp.Symbol = function (a) {
  return $jscomp.SYMBOL_PREFIX + (a || "") + $jscomp.symbolCounter_++;
};
$jscomp.initSymbolIterator = function () {
  $jscomp.initSymbol();
  var a = $jscomp.global.Symbol.iterator;
  a || (a = $jscomp.global.Symbol.iterator = $jscomp.global.Symbol("iterator"));
  "function" != typeof Array.prototype[a] &&
    $jscomp.defineProperty(Array.prototype, a, {
      configurable: !0,
      writable: !0,
      value: function () {
        return $jscomp.arrayIterator(this);
      }
    });
  $jscomp.initSymbolIterator = function () {};
};
$jscomp.arrayIterator = function (a) {
  var b = 0;
  return $jscomp.iteratorPrototype(function () {
    return b < a.length ? { done: !1, value: a[b++] } : { done: !0 };
  });
};
$jscomp.iteratorPrototype = function (a) {
  $jscomp.initSymbolIterator();
  a = { next: a };
  a[$jscomp.global.Symbol.iterator] = function () {
    return this;
  };
  return a;
};
$jscomp.polyfill = function (a, b, c, d) {
  if (b) {
    c = $jscomp.global;
    a = a.split(".");
    for (d = 0; d < a.length - 1; d++) {
      var f = a[d];
      f in c || (c[f] = {});
      c = c[f];
    }
    a = a[a.length - 1];
    d = c[a];
    b = b(d);
    b != d &&
      null != b &&
      $jscomp.defineProperty(c, a, {
        configurable: !0,
        writable: !0,
        value: b
      });
  }
};
$jscomp.polyfill(
  "Array.from",
  function (a) {
    return a
      ? a
      : function (a, c, d) {
          $jscomp.initSymbolIterator();
          c =
            null != c
              ? c
              : function (a) {
                  return a;
                };
          var b = [],
            e = a[Symbol.iterator];
          if ("function" == typeof e)
            for (a = e.call(a); !(e = a.next()).done; )
              b.push(c.call(d, e.value));
          else
            for (var e = a.length, g = 0; g < e; g++) b.push(c.call(d, a[g]));
          return b;
        };
  },
  "es6-impl",
  "es3"
);
var MOUSE_EVENTS = ["click", "touchstart"],
  Carousel = function (a) {
    this.element = a;
    this.init();
  };
Carousel.prototype.init = function () {
  var a = this;
  this.items = Array.from(this.element.querySelectorAll(".carousel-item"));
  MOUSE_EVENTS.forEach(function (b) {
    var c = a.element.querySelector(".carousel-nav-left"),
      d = a.element.querySelector(".carousel-nav-right");
    c &&
      c.addEventListener(
        b,
        function (b) {
          b.preventDefault();
          a.move("previous");
          a.autoplayInterval &&
            (clearInterval(a.autoplayInterval),
            a.autoPlay(a.element.dataset.delay || 5e3));
        },
        !1
      );
    d &&
      d.addEventListener(
        b,
        function (b) {
          b.preventDefault();
          a.move("next");
          a.autoplayInterval &&
            (clearInterval(a.autoplayInterval),
            a.autoPlay(a.element.dataset.delay || 5e3));
        },
        !1
      );
  });
  this.initOrder();
  this.element.dataset.autoplay &&
    "true" == this.element.dataset.autoplay &&
    this.autoPlay(this.element.dataset.delay || 5e3);
};
Carousel.prototype.initOrder = function () {
  var a = this.element.querySelector(".carousel-item.is-active");
  (a = this.items.indexOf(a))
    ? this.items.push(this.items.splice(0, a))
    : this.items.unshift(this.items.pop());
  this.setOrder();
};
Carousel.prototype.setOrder = function () {
  this.items.forEach(function (a, b) {
    a.style["z-index"] = 1 !== b ? "0" : "1";
    a.style.order = b;
  });
};
Carousel.prototype.move = function (a) {
  a = void 0 === a ? "next" : a;
  var b = this;
  this.items.length &&
    (this.element
      .querySelector(".carousel-item.is-active")
      .classList.remove("is-active"),
    "previous" === a
      ? (this.items.unshift(this.items.pop()),
        this.element.classList.add("is-reversing"))
      : (this.items.push(this.items.shift()),
        this.element.classList.remove("is-reversing")),
    (1 <= this.items.length ? this.items[1] : this.items[0]).classList.add(
      "is-active"
    ),
    this.setOrder(),
    this.element.classList.toggle("carousel-animated"),
    setTimeout(function () {
      b.element.classList.toggle("carousel-animated");
    }, 50));
};
Carousel.prototype.autoPlay = function (a) {
  var b = this;
  this.autoplayInterval = setInterval(
    function () {
      b.move("next");
    },
    void 0 === a ? 5e3 : a
  );
};
document.addEventListener("DOMContentLoaded", function () {
  var a = document.querySelectorAll(".carousel, .hero-carousel");
  [].forEach.call(a, function (a) {
    new Carousel(a);
  });
});

</script>











<style>
  .flip-card {
  background-color: transparent;
  width: 300px;
  height: 500px;
  box-shadow: -1rem 0 3rem #000;
  border: 1px solid #f1f1f100;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

h1 { font-size: 30px }

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #33A1B7;
  color: white;
  transform: rotateY(180deg);
}

.carousel {
  position: relative;
  overflow: hidden;
}
.carousel .carousel-container {
  width: 100%;
  position: relative;
  border: none;
  display: flex;
  margin: 0;
  padding: 0;
  left: -100%;
  transform: translateX(100%);
}
.carousel .carousel-container .carousel-item {
  display: block;
  position: relative;
  flex: 1 0 100%;
}
.carousel .carousel-container .carousel-item.has-background .is-background {
  object-fit: cover;
  object-position: center center;
  height: 100%;
  width: 100%;
}
.carousel .carousel-container .carousel-item .title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.5em;
  margin: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  font-size: 0.75rem;
}
.carousel .carousel-navigation {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.carousel .carousel-navigation .carousel-nav-left,
.carousel .carousel-navigation .carousel-nav-right {
  padding: 1em;
}
.carousel .carousel-navigation.is-centered {
  justify-content: center;
}
.carousel .carousel-navigation.is-overlay {
  align-items: center;
  justify-content: space-between;
  z-index: 20;
}
.carousel .carousel-navigation.is-overlay .carousel-nav-left,
.carousel .carousel-navigation.is-overlay .carousel-nav-right {
  height: 2.2em;
  width: 2em;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  z-index: 99;
}
.carousel .carousel-navigation.is-overlay .carousel-nav-left:hover,
.carousel .carousel-navigation.is-overlay .carousel-nav-right:hover {
  cursor: pointer;
}
.carousel .carousel-navigation.is-overlay .carousel-nav-right {
  left: auto;
  right: 0;
}
.carousel.is-reversing .carousel-container {
  transform: translateX(-100%);
}
.carousel.is-reversing.is-2 .carousel-container {
  transform: translateX(calc(-100% / 2));
}
.carousel.is-reversing.is-3 .carousel-container {
  transform: translateX(calc(-100% / 3));
}
.carousel.is-reversing.is-4 .carousel-container {
  transform: translateX(calc(-100% / 4));
}
.carousel.is-reversing.is-5 .carousel-container {
  transform: translateX(calc(-100% / 5));
}
.carousel.is-2 .carousel-container {
  left: calc(-100% / 2);
  transform: translateX(calc(100% / 2));
}
.carousel.is-2 .carousel-container .carousel-item {
  padding: 1em;
  flex-basis: calc(100% / 2);
}
.carousel.is-3 .carousel-container {
  left: calc(-100% / 3);
  transform: translateX(calc(100% / 3));
}
.carousel.is-3 .carousel-container .carousel-item {
  padding: 1em;
  flex-basis: calc(100% / 3);
}
.carousel.is-4 .carousel-container {
  left: calc(-100% / 4);
  transform: translateX(calc(100% / 4));
}
.carousel.is-4 .carousel-container .carousel-item {
  padding: 1em;
  flex-basis: calc(100% / 4);
}
.carousel.is-5 .carousel-container {
  left: calc(-100% / 5);
  transform: translateX(calc(100% / 5));
}
.carousel.is-5 .carousel-container .carousel-item {
  padding: 1em;
  flex-basis: calc(100% / 5);
}

.hero.has-carousel {
  position: relative;
}
.hero.has-carousel + .hero-body,
.hero.has-carousel + .hero-head,
.hero.has-carousel + .hero-footer {
  z-index: 1;
}
.hero.has-carousel .hero-carousel {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  border: none;
  margin: auto;
  padding: 0;
  z-index: 0;
}

.hero-carousel {
  position: relative;
  overflow: hidden;
}
.hero-carousel .carousel-container {
  width: 100%;
  position: relative;
  border: none;
  display: flex;
  margin: 0;
  padding: 0;
  left: -100%;
  transform: translateX(100%);
}
.hero-carousel .carousel-container .carousel-item {
  display: block;
  position: relative;
  flex: 1 0 100%;
}
.hero-carousel .carousel-container .carousel-item.has-background .is-background {
  object-fit: cover;
  object-position: center center;
  height: 100%;
  width: 100%;
}
.hero-carousel .carousel-container .carousel-item .title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.5em;
  margin: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  font-size: 0.75rem;
}
.hero-carousel .carousel-navigation {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.hero-carousel .carousel-navigation .carousel-nav-left,
.hero-carousel .carousel-navigation .carousel-nav-right {
  padding: 1em;
}
.hero-carousel .carousel-navigation.is-centered {
  justify-content: center;
}
.hero-carousel .carousel-navigation.is-overlay {
  align-items: center;
  justify-content: space-between;
  z-index: 20;
}
.hero-carousel .carousel-navigation.is-overlay .carousel-nav-left,
.hero-carousel .carousel-navigation.is-overlay .carousel-nav-right {
  height: 2.2em;
  width: 2em;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  z-index: 99;
}
.hero-carousel .carousel-navigation.is-overlay .carousel-nav-left:hover,
.hero-carousel .carousel-navigation.is-overlay .carousel-nav-right:hover {
  cursor: pointer;
}
.hero-carousel .carousel-navigation.is-overlay .carousel-nav-right {
  left: auto;
  right: 0;
}
.hero-carousel.is-reversing .carousel-container {
  transform: translateX(-100%);
}
.hero-carousel.is-reversing.is-2 .carousel-container {
  transform: translateX(calc(-100% / 2));
}
.hero-carousel.is-reversing.is-3 .carousel-container {
  transform: translateX(calc(-100% / 3));
}
.hero-carousel.is-reversing.is-4 .carousel-container {
  transform: translateX(calc(-100% / 4));
}
.hero-carousel.is-reversing.is-5 .carousel-container {
  transform: translateX(calc(-100% / 5));
}

.carousel.carousel-animate-slide.carousel-animated .carousel-container,
.hero-carousel.carousel-animate-slide.carousel-animated .carousel-container {
  transform: none;
  transition: transform 0.5s ease-in-out;
}
.carousel.carousel-animate-fade .carousel-item,
.hero-carousel.carousel-animate-fade .carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}
.carousel.carousel-animate-fade .carousel-item.is-active,
.hero-carousel.carousel-animate-fade .carousel-item.is-active {
  opacity: 1;
}
.carousel.carousel-animate-fade .carousel-item:not(.is-active),
.hero-carousel.carousel-animate-fade .carousel-item:not(.is-active) {
  opacity: 0;
}

</style>