<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>"ASOCIARSE"</title>
  
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  
</head>

<body>
  
  <!-- Hero del producto -->
  <section class="has-background-primary-light">
    <font color="black" SIZE=190 face="Bodoni MT Black">
      <br>
  <h1 align="center"><i>¿CÓMO ASOCIARTE?</i></h1>
  </font>
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered">
          <div data-aos="fade-left" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd">
            <figure class="image is-square">
              <img src="https://afiliamos.co/wp-content/uploads/2017/02/afiliacion-de-empleados-a-seguridad-social-medellin.png">
            </figure>
          </div>

         
          <div data-aos="fade-down" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
           <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
            <h1 class="titled title is-1 mb-6">
          Sé parte de nuestro grupo de asociados.
            </h1></FONT>
            <h2 class="subtitled subtitle">
              Llena la información y nosotros te contactaremos...
               <div class="buttons">
               <a href="asociarse" class="button is-primary">Asóciate Ya!!</a>              
            </div>

            </h2>
          </div>
          
        </div>
      </div>
    </div>
    
  </section>


  <section class="has-background-primary-light">
    
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered reverse-columns">
          <div class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktopm is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd" data-aos="fade-down">
            <h1 class="title titled is-1 mb-6">
              ¡Únete a nuestro equipo!
            </h1>
             <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
             <h2 class="subtitled subtitle">
            Ingresa a nuestra página Du-Lernts.com
            Plataforma moderna, intuitiva, rápida y fácil de entender para todos los públicos.
            </h2></FONT>
            
           

          </div>
          <div data-aos="fade-right" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd">
            <figure class="image is-square">
              <img src="https://www.itba.edu.ar/intranet/clasesonline/wp-content/uploads/sites/19/2020/03/undraw_youtube_tutorial_2gn3-01.png">
            </figure>
          </div>

        </div>
      </div>
    </div>
  </section>

 <section class="has-background-primary-light">
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered">
          <div data-aos="fade-left" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd">
            <figure class="image is-square">
              <img src="https://image.freepik.com/vector-gratis/ninos-que-tienen-clases-linea_23-2148504337.jpg">
            </figure>
          </div>

         
          <div data-aos="fade-down" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
            <h1 class="titled title is-1 mb-6">
             Acelera tú futuro.
             ¡Aprende donde quieras y cuando quieras!

            </h1>
            <h2 class="subtitled subtitle">
            Cursos para todas las etapas de tu carrera, instructores experiencia en el mercado...
            </h2>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="has-background-primary-light">
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered reverse-columns">
          <div data-aos="fade-right" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
            <h1 class="title titled is-1 mb-6">
             ¡Da a conocer tu institución!
            </h1>
            <h2 class="subtitle subtitled">
           Sé parte de nuestra familia.
            </h2>
          </div>
          <div data-aos="fade-down" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd" data-aos="fade-up">
            <figure class="image is-square">
              <img src="https://image.freepik.com/vector-gratis/concepto-lecciones-linea-ninos_23-2148520727.jpg">
            </figure>
          </div>

        </div>
      </div>
    </div>
    
  </section>

  <section class="hero is-medium has-text-centered">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div data-aos="zoom-in-up" class="column is-8">
            <h1 class="title titled is-1 mb-6">
           <span id="typewriter"></span>
            </h1>
            <FONT FACE="Arial Rounded MT Bold" SIZE=6 COLOR="black">
              Encontraras foros de discusión, videos de todo tipo y otros recursos que ayudan a mejorar tú experiencia de aprendizaje haciéndola más efectiva, 
              ya que se adapta a la forma en que consumes información diariamente.
            </FONT>
          </div>
        </div>

      </div>
    </div>
  </section>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.13.1/core.min.js"></script>
  <script>
    new Typewriter('#typewriter', {
      strings: ['INTERACTIVIDAD..!', 'FACILIDAD DE ACCESO..!', 'FLEXIBILIDAD..!', 'AHORRO..!'],
      autoStart: true,
      loop: true,
      
    });
    
  </script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      once: true
    });
  </script>
   
</body>

</html>


<style>
    @media(max-width: 500px) {
      .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
      }
    }

    .titled {
      font-family: 'Merriweather', serif !important;
      font-size: 58px !important;
      font-weight: 400 !important;
      line-height: 64px !important;
    }

    .subtitled {
      font-family: 'Merriweather', serif !important;
      font-size: 22px !important;
      font-weight: 400 !important;
      line-height: 36px !important;
    }
  </style>