<!DOCTYPE html>
<html>
  

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ghost Style Blog - Free Bulma template</title>
    <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/ghost-blog.css">
  </head>
  
    <font color="black" SIZE=190 face="Bodoni MT Black">
  <h1 align="center"><i>"MANUAL DE USUARIO"</i></h1>
  </font>
  <center>
   <img src="https://s8.gifyu.com/images/manualusuario8c152f656c792d88.gif" style="width:230px;height:230px;"></center>
  </script>
  <section class="hero is-medium">
    
    <div class="hero-head">
      <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
        </nav>
      </div>
    </div>
  </section>
  <section class="blog-posts">
    <div class="container">
      <div class="columns">
     
          <div class="columns featured-post is-multiline">
            <div class="column is-12 post">
              <article class="columns featured">
                <div class="column is-5 featured-content va">
                </div>
              </article>
            </div>
          </div>
          <hr>
          <div class="columns is-multiline">
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://i.postimg.cc/c4mHWfQf/inicio-3.png" style="width:800px;height:400px;">
                </div>
                <div class="column is-12 featured-content ">
                   <div class="buttons">
               <a href="http://localhost:5000" style="background-color: #33A1B7;"  class="button is-primary"> Inicio</a>              
                  </div>
                              
                  <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
                  <p align="left"class="post-excerpt">Página principal donde te muestra que te ofrece nuestra página, también se encuentran las opciones, explorar cursos, categorías, 
                    en la opción de “Promueve” te llevará a la ventana donde te puedes asociarte a nuestra página.</p></FONT>
                  <br>
                </div>
              </article>
            </div>

            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://i.postimg.cc/W1Ndq529/INICIARSESION-2.png" style="width:800px;height:400px;">
                
                </div>
                 <div class="column is-12 featured-content ">
                        <div class="buttons">
               <a href="http://localhost:5000/iniciar-sesion"style="background-color: #33A1B7;"  class="button is-primary"> Iniciar Sesión</a>              
            </div>
                   <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
                  <p align="left"class="post-excerpt">En esta opción puedes iniciar sesión para que puedas acceder a la página, ingresando tu correo electrónico y una contraseña, 
                    si olvidas tu contraseña la puedes recuperar,ingresando a la opción “olvide mi contraseña” y así puedes cambiar la contraseña y volver a ingresar.También está la opción de crear cuenta.</p></FONT>
                   <br>
             
                </div>
              </article>
            </div>
             <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://i.postimg.cc/grFf4kxr/iniciarsesion.png" style="width:800px;height:400px;">
                </div>
                 <div class="column is-12 featured-content ">
                        <div class="buttons">
               <a href="http://localhost:5000/cursos#"style="background-color: #33A1B7;"  class="button is-primary"> Explorar Cursos</a>              
            </div>
                   <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
                  <p align="left"class="post-excerpt">En está opción visualizaras todos los cursos que nuestra página te ofrece. 
                    Al seleccionar un curso, puedes ver los detalles de dicho curso.</p></FONT>
                   <br>
             
                </div>
              </article>
            </div>
             <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://i.postimg.cc/FHd2p4s1/REGISTRARSE.png" style="width:800px;height:400px;">
                </div>
                 <div class="column is-12 featured-content ">
                        <div class="buttons">
               <a href="http://localhost:5000/crear-cuenta" style="background-color: #33A1B7;"  class="button is-primary">Registrarse</a>              
            </div>
                   <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
                  <p align="left"class="post-excerpt">Aquí puedes crear tu cuenta para que puedas acceder a la página, ingresando tu nombre, un correo electrónico y una contraseña, 
                    presionas el botón de registrarse y listo ya tienes una cuenta para poder ingresar..</p></FONT>
                   <br>
             
                </div>
              </article>
            </div>
             <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://i.postimg.cc/WpYWHHyZ/INFORMACION.png" style="width:800px;height:400px;">
                </div>
                 <div class="column is-12 featured-content ">
                        <div class="buttons">
               <a href="http://localhost:5000/informacion"style="background-color: #33A1B7;"  class="button is-primary"> Información</a>              
            </div>
                   <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
                  <p align="left"class="post-excerpt">Encontrarás como puedes asociarte a nuestra página y otra información,
                     está un botón donde te llevará la opción de registrarte.  </p></FONT>
                   <br>
             
                </div>
              </article>
            </div>
             <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://i.postimg.cc/bJBx3KvN/OLVIDECONTRASE-A.png" style="width:800px;height:400px;">
                </div>
                 <div class="column is-12 featured-content ">
                        <div class="buttons">
               <a href="http://localhost:5000/olvide-password" style="background-color: #33A1B7;"  class="button is-primary"> Restablece tu contraseña</a>              
            </div>
                   <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
                  <p align="left"class="post-excerpt">En está opción puedes restablecer tú contraseña, ya que por algunos motivos la hubieses perdido, solo tiene que poner tú correo con el ingresaste a Du-Lernst, 
                    luego presionas el botón restablecer y listo ya puedes cambiar la contraseña.</p></FONT>
                   <br>
             
                </div>
              </article>
            </div>
             <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://i.postimg.cc/76H1x7Ld/perfil.png" style="width:800px;height:400px;">
                </div>
                 <div class="column is-12 featured-content ">
                        <div class="buttons">
               <a href="http://localhost:5000/perfil" style="background-color: #33A1B7;" class="button is-primary"> Perfil</a>              
            </div>
                   <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
                  <p align="left"class="post-excerpt">En esta opción puedes entrar cuando ya estés registrado en nuestra página, se mostrará tus datos que ingresaste al crear tu cuenta, 
                    puedes subir una foto y también cambiar de nombre.</p></FONT>
                   <br>
             
                </div>
              </article>
            </div>
             <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  
                  <img src="https://i.postimg.cc/dQjNj025/ASOCIARSE-2.png" style="width:800px;height:400px;">
                </div>
                 <div class="column is-12 featured-content ">
                        <div class="buttons">
               <a href="http://localhost:5000/asociarse" style="background-color: #33A1B7;"  class="button is-primary"> Asociarse</a>              
            </div>
                   <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
                  <p align="left"class="post-excerpt">Encontraras un formulario para poder contactarnos, té pedirá tu nombre, correó electrónico, en qué tipo de tutorías estas interesado, opinión sobre nuestra página 
                    y si quieres dejar algún comentario, también nos pueden contactar en nuestras redes sociales.</p></FONT>
                   <br>
             
                </div>
              </article>
            </div>

      <body>
   <style>
      </style>
      </body>
     

  </section>
