<!DOCTYPE html >
<html  lang = " en " >

<cabeza >
    <meta  charset = " utf-8 " >
    <meta  http-equiv = " X-UA-Compatible " content = " IE = edge " >
    <meta  name = " viewport " content = " width = device-width, initial-scale = 1 " >
    <título > Álbum de fotos - Plantilla gratuita de Bulma </ título >
    <link  href = " https://fonts.googleapis.com/icon?family=Material+Icons " rel = " hoja de estilo " >
    <link  href = " https://fonts.googleapis.com/css?family=Open+Sans:300,400,700 " rel = " stylesheet " >
    <-Bulma Versión 0.9.0->
    <link  rel = " stylesheet " href = " https://unpkg.com/bulma@0.9.0/css/bulma.min.css " />
    <link  rel = " stylesheet " type = " text / css " href = " ../ css/ instaAlbum.css " >
</cabeza >

<cuerpo >
    <div  class = " navbar is-inline-flex is-transparent " >
        <div  class = " navbar-brand " >
            <Una  clase = " navbar-elemento " >
                <img  src = " https://bulma.io/images/bulma-logo.png " width = " 112 " height = " 28 " alt = " Bulma " >
            </a >
        </div >
        <div  class = " navbar-menu " >
            <div  class = " navbar-item " >
                <div  class = " control has-icons-left " >
                    <input  class = " input is-small has-text-centrado " type = " text " placeholder = " search " >
                    <span  class = " icon is-left is-small " >
                        <i  class = " material-icons " > buscar </i >
                    </span >
                </div >
            </div >
        </div >
        <div  class = " navbar-item is-flex-touch " >
            <Una  clase = " navbar-elemento " >
                <i  class = " material-icons " > explorar </i >
            </a >
            <Una  clase = " navbar-elemento " >
                <i  class = " material-icons " > favorite_border </i >
            </a >
            <Una  clase = " navbar-elemento " >
                <i  class = " material-icons " > person_outline </i >
            </a >
        </div >
    </div >
    <div  class = " columnas cuerpo-columnas " >
        <div  class = "la columna es-la mitad está-compensada-un-cuarto " >
            <div  class = " tarjeta " >
                <div  class = " encabezado " >
                    <div  class = " media " >
                        <div  class = " media-left " >
                            <figure  class = "la imagen es-48x48 " >
                                <img  src = " https://source.unsplash.com/random/96x96 " alt = " Imagen de marcador de posición " >
                            </figura >
                        </div >
                        <div  class = " contenido-multimedia " >
                            <p  class = " title is-4 " > John Smith </p >
                            <p  class = " subtitle is-6 " > @johnsmith </ p >
                        </div >
                    </div >
                </div >
                <div  class = " card-image " >
                    <figure  class = " image is-4by3 " >
                        <img  src = " https://source.unsplash.com/random/1280x960 " alt = " Imagen de marcador de posición " >
                    </figura >
                </div >
                <div  class = " card-content " >
                    <div  class = " level is-mobile " >
                        <div  class = " level-left " >
                            <div  class = " nivel-elemento tiene-texto-centrado " >
                                <Un  href = "" >
                                    <i  class = " material-icons " > favorite_border </i >
                                </a >
                            </div >
                            <div  class = " nivel-elemento tiene-texto-centrado " >
                                <div >
                                    <Un  href = "" >
                                        <i  class = " material-icons " > chat_bubble_outline </i >
                                    </a >
                                </div >
                            </div >
                        </div >
                    </div >

                    <div  class = " contenido " >
                        <p >
                            <fuerte > 32 Me gusta </fuerte >
                        </p >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        <Un > @bulmaio </a > .
                        <Un  href = " # " > #css </a >
                        <Un  href = " # " > #responsive </a >
                        <Br >
                        <time  datetime = " 2018-1-1 " > 11:09 p.m. - 1 de enero de 2018 </time >
                    </div >
                </div >
                <div  class = " card-footer " >
                    <div  class = "las columnas son móviles " >
                        <div  class = "la columna es-11 " >
                            <div  class = " campo " >
                                <div  class = " control " >
                                    <input  class = " input is-medium " type = " text " placeholder = " Agregar un comentario... " >
                                </div >
                            </div >
                        </div >
                        <div  class = " columna tiene-texto-centrado " >
                            <button  class = " button " >
                                <i class = " material-icons " > more_horiz </i >
                            </botón >
                        </div >
                    </div >
                </div >
            </div >


            <div  class = " tarjeta " >
                <div  class = " encabezado " >
                    <div  class = " media " >
                        <div  class = " media-left " >
                            <figure  class = "la imagen es-48x48 " >
                                <img  src = " https://source.unsplash.com/random/96x96 " alt = " Imagen de marcador de posición " >
                            </figura >
                        </div >
                        <div  class = " contenido-multimedia " >
                            <p  class = " title is-4 " > John Smith </p >
                            <p  class = " subtitle is-6 " > @johnsmith </p >
                        </div >
                    </div >
                </div >
                <div  class = " card-image " >
                    <figure  class = " image is-4by3 " >
                        <img  src = " https://source.unsplash.com/random/1280x960 " alt = " Imagen de marcador de posición " >
                    </figura >
                </div >
                <div  class = " card-content " >
                    <iv  class = " level is-mobile " >
                        <div  class = " level-left " >
                            <div  class = " nivel-elemento tiene-texto-centrado " >
                                <Un  href = "">
                                    <i  class = " material-icons " > favorite_border </i >
                                </a >
                            </div >
                            <div  class = " nivel-elemento tiene-texto-centrado " >
                                <div >
                                    <Un  href = "" >
                                        <i  class = " material-icons " > chat_bubble_outline </i >
                                    </a >
                                </div >
                            </div >
                        </div >
                    </div >

                    <div  class = " contenido " >
                        <p >
                            <fuerte > 32 Me gusta </fuerte >
                        </p >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        <Un > @bulmaio </a > .
                        <Un  href = " # " > #css </a >
                        <Un  href = " # " > #responsive </a >
                        <Br >
                        <time  datetime = " 2018-1-1 " > 11:09 p.m. - 1 de enero de 2018 </time >
                    </div >
                </div >
                <div  class = " card-footer " >
                    <div  class = "las columnas son móviles " >
                        <div  class = "la columna es-11 " >
                            <div  class = " campo " >
                                <div  class = " control " >
                                    <input  class = " input is-medium " type = " text " placeholder = " Agregar un comentario... " >
                                </div >
                            </div >
                        </div >
                        <div  class = " columna tiene-texto-centrado " >
                            <button  class = " button " >
                                <i  class = " material-icons " > more_horiz </i >
                            </botón >
                        </div >
                    </div >
                </div >
            </div >



            <div  class = " tarjeta " >
                <div  class = " encabezado " >
                    <div  class = " media " >
                        <div  class = " media-left " >
                            <figure  class = "la imagen es-48x48 " >
                                <img  src = " https://source.unsplash.com/random/96x96 " alt = " Imagen de marcador de posición " >
                            </figura >
                        </div >
                        <div  class = " contenido-multimedia " >
                            <p  class = " title is-4 " > John Smith </p >
                            <p  class = " subtitle is-6 " > @johnsmith </p >
                        </div >
                    </div >
                </div >
                <div  class = " card-image " >
                    <figure  class = " image is-4by3 " >
                        <img  src = " https://source.unsplash.com/random/1280x960 " alt = " Imagen de marcador de posición " >
                    </figura >
                </div >
                <div  class = " card-content " >
                    <div  class = " level is-mobile " >
                        <div  class = " level-left " >
                            <div  class = " nivel-elemento tiene-texto-centrado " >
                                <Un  href = "" >
                                    <i  class = " material-icons " > favorite_border </i >
                                </a >
                            </div >
                            <div  class = " nivel-elemento tiene-texto-centrado " >
                                <div >
                                    <Un  href = "" >
                                        <i  class = " material-icons " > chat_bubble_outline </i >
                                    </a >
                                </div >
                            </div >
                        </div >
                    </div >

                    <div  class = " contenido " >
                        <p >
                            <fuerte > 32 Me gusta </fuerte >
                        </p >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        <Un> @bulmaio </a > .
                        <Un  href = " # " > #css </a>
                        <Un  href = " # " > #responsive </a >
                        <Br >
                        <time  datetime = " 2018-1-1 " > 12:02 p.m. - 1 de mayo de 2018 </time >
                    </div >
                </div >
                <div  class = " card-footer " >
                    <div  class = "las columnas son móviles " >
                        <div  class = "la columna es-11 " >
                            <div  class = " campo " >
                                <div  class = " control " >
                                    <input  class = " input is-medium " type = " text " placeholder = " Agregar un comentario... " >
                                </div >
                            </div >
                        </div >
                        <div  class = " columna tiene-texto-centrado " >
                            <button  class = " button " >
                                <i  class = " material-icons " > more_horiz </i >
                            </botón >
                        </div >
                    </div >
                </div >
            </div >



            <footer  class = " footer " >
                <div  class = "el contenedor es fluido " >
                    <div  class = "el contenido tiene texto centrado " >
                        <p >
                            <fuerte > Bulma </fuerte > por
                            <Un  href = " http://jgthms.com " > Jeremy Thomas </a > . El código fuente tiene licencia
                            <Un  href = " http://opensource.org/licenses/mit-license.php " > MIT </una > . El contenido del sitio web tiene licencia
                            <Un  href = " http://creativecommons.org/licenses/by-nc-sa/4.0/ " > CC BY NC SA 4.0 </una > .
                        </p >
                    </div >
                </div >
            </pie de página >
        </div >
    </div >
</cuerpo >

</html >