<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ghost Style Blog - Free Bulma template</title>
    <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/ghost-blog.css">
  </head>
    <font color="black" SIZE=190 face="Bodoni MT Black">
  <h1 align="center"><i>"MANUAL DE USURIO"</i></h1>
  </font>
  </script>
  <section class="hero is-medium">
    <div class="hero-head">
      <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
        </nav>
      </div>
    </div>
  </section>
  <section class="blog-posts">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <div class="columns featured-post is-multiline">
            <div class="column is-12 post">
              <article class="columns featured">
                <div class="column is-5 featured-content va">
                </div>
              </article>
            </div>
          </div>
          <hr>
          <div class="columns is-multiline">
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://cdn.emk.dev/templates/post-img.png" alt="home">
                </div>
                <div class="column is-12 featured-content ">
                  <font color="black" face="Arial Black">
                  <h1 class="title post-title">Inicio</h1></font>
                  <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
                  <p class="post-excerpt">Página principal donde te muestra que te ofrece nuestra página, también se encuentran las opciones, explorar cursos, categorías, 
                    en la opción de “Promueve” te llevara a la ventana donde te puedes asociarse a nuestra página.</p></FONT>
                  <br>
                      <div class="buttons">
               <a href="http://localhost:5000" class="button is-primary">Ir..</a>              
            </div>
                </div>
              </article>
            </div>

            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                </div>
                 <div class="column is-12 featured-content ">
                    <font color="black" face="Arial Black">
                  <h1 class="title post-title">Iniciar Sesión</h1></font>
                   <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
                  <p class="post-excerpt">En esta opción puedes iniciar sesión para que puedas acceder a la página, ingresando tu correo electrónico y una contraseña, 
                    si olvidas tu contraseña la puedes recuperar,ingresando a la opción “olvide mi contraseña” y así puedes cambiar la contraseña y volver a ingresar.</p></FONT>
                   <br>
                  <div class="buttons">
               <a href="http://localhost:5000/iniciar-sesion" class="button is-primary">Ir..</a>              
            </div>
                </div>
              </article>
            </div>
              <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                </div>
                 <div class="column is-12 featured-content ">
                  <h3 class="heading post-category">Category Name</h3>
                  <h1 class="title post-title">Slightly Longer Blog Post Title</h1>
                  <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
                  <br>
                  <a href="#" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>
                <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                </div>
                 <div class="column is-12 featured-content ">
                  <h3 class="heading post-category">Category Name</h3>
                  <h1 class="title post-title">Slightly Longer Blog Post Title</h1>
                  <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
                  <br>
                  <a href="#" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>
                <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                </div>
                 <div class="column is-12 featured-content ">
                  <h3 class="heading post-category">Category Name</h3>
                  <h1 class="title post-title">Slightly Longer Blog Post Title</h1>
                  <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
                  <br>
                  <a href="#" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>
                <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                </div>
                 <div class="column is-12 featured-content ">
                  <h3 class="heading post-category">Category Name</h3>
                  <h1 class="title post-title">Slightly Longer Blog Post Title</h1>
                  <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
                  <br>
                  <a href="#" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>
         
                <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                  
                </div>
                 <div class="column is-12 featured-content ">
                  <h3 class="heading post-category">Category Name</h3>
                  <h1 class="title post-title">Slightly Longer Blog Post Title</h1>
                  <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
                  <br>
                  <a href="#" class="button is-primary">Read More</a>
                </div>
              </article>
            </div>

              <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                </div>
                 <div class="column is-12 featured-content ">
                  <h3 class="heading post-category">Category Name</h3>
                  <h1 class="title post-title">Slightly Longer Blog Post Title</h1>
                  <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
                  <br>
                  <a href="#" class="button is-primary">Read More</a>
                </div>

              </article>
              
            </div>
          </div>
        </div>
      </div>
      <body>
         <style>
      

      </style>
      </body>
     

  </section>