<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ghost Style Blog - Free Bulma template</title>
    <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/ghost-blog.css">
  </head>
    <font color="black" SIZE=190 face="Bodoni MT Black">
  <h1 align="center"><i>"MANUAL DE USUARIO"</i></h1>
  </font>
  </script>
  <section class="hero is-medium">
    <div class="hero-head">
      <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
        </nav>
      </div>
    </div>
  </section>
  <section class="blog-posts">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <div class="columns featured-post is-multiline">
            <div class="column is-12 post">
              <article class="columns featured">
                <div class="column is-5 featured-content va">
                </div>
              </article>
            </div>
          </div>
          <hr>
          <div class="columns is-multiline">
            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://i.postimg.cc/t4Mgbwmk/inicio.png" style="width:680px;height:340px;">
                </div>
                <div class="column is-12 featured-content ">
                   <div class="buttons">
               <a href="http://localhost:5000" class="button is-primary"> Inicio</a>              
                  </div>
                
                  <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
                  <p align="left"class="post-excerpt">Página principal donde te muestra que te ofrece nuestra página, también se encuentran las opciones, explorar cursos, categorías, 
                    en la opción de “Promueve” te llevara a la ventana donde te puedes asociarse a nuestra página.</p></FONT>
                  <br>
                </div>
              </article>
            </div>

            <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://i.postimg.cc/grFf4kxr/iniciarsesion.png" style="width:680px;height:340px;">
                </div>
                 <div class="column is-12 featured-content ">
                        <div class="buttons">
               <a href="http://localhost:5000/iniciar-sesion" class="button is-primary"> Iniciar Sesión</a>              
            </div>
                   <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
                  <p align="left"class="post-excerpt">En esta opción puedes iniciar sesión para que puedas acceder a la página, ingresando tu correo electrónico y una contraseña, 
                    si olvidas tu contraseña la puedes recuperar,ingresando a la opción “olvide mi contraseña” y así puedes cambiar la contraseña y volver a ingresar.</p></FONT>
                   <br>
             
                </div>
              </article>
            </div>
             <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://i.postimg.cc/grFf4kxr/iniciarsesion.png" style="width:680px;height:340px;">
                </div>
                 <div class="column is-12 featured-content ">
                        <div class="buttons">
               <a href="http://localhost:5000/cursos#" class="button is-primary"> Explorar Cursos</a>              
            </div>
                   <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
                  <p align="left"class="post-excerpt">En esta opción pueden ver los cursos que nuestra página te ofrece, las categorías, al seleccionar la opción de categorías te llevara a la categoría especifica que seleccionaste. Cuando selecciones
                     la ventanita para ver los videos, aparecerá las opciones de pausar, volver a reproducir video y ampliar video.</p></FONT>
                   <br>
             
                </div>
              </article>
            </div>
             <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://i.postimg.cc/grFf4kxr/iniciarsesion.png" style="width:680px;height:340px;">
                </div>
                 <div class="column is-12 featured-content ">
                        <div class="buttons">
               <a href="http://localhost:5000/crear-cuenta" class="button is-primary">Registrarse</a>              
            </div>
                   <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
                  <p align="left"class="post-excerpt">Aquí puedes crear tu cuenta para que puedas acceder a la página, ingresando tu nombre, un correo electrónico y una contraseña, 
                    presionas el botón de registrarse y listo ya tienes una cuenta para poder ingresar..</p></FONT>
                   <br>
             
                </div>
              </article>
            </div>
             <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://i.postimg.cc/grFf4kxr/iniciarsesion.png" style="width:680px;height:340px;">
                </div>
                 <div class="column is-12 featured-content ">
                        <div class="buttons">
               <a href="http://localhost:5000/informacion" class="button is-primary"> Información</a>              
            </div>
                   <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
                  <p align="left"class="post-excerpt">Encontrarás como puedes asociarte a nuestra página y otra información,
                     está un botón donde te llevará la opción de registrarte.  </p></FONT>
                   <br>
             
                </div>
              </article>
            </div>
             <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://i.postimg.cc/grFf4kxr/iniciarsesion.png" style="width:680px;height:340px;">
                </div>
                 <div class="column is-12 featured-content ">
                        <div class="buttons">
               <a href="http://localhost:5000/iniciar-sesion" class="button is-primary"> Iniciar Sesión</a>              
            </div>
                   <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
                  <p align="left"class="post-excerpt">En esta opción puedes iniciar sesión para que puedas acceder a la página, ingresando tu correo electrónico y una contraseña, 
                    si olvidas tu contraseña la puedes recuperar,ingresando a la opción “olvide mi contraseña” y así puedes cambiar la contraseña y volver a ingresar.</p></FONT>
                   <br>
             
                </div>
              </article>
            </div>
             <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://i.postimg.cc/grFf4kxr/iniciarsesion.png" style="width:680px;height:340px;">
                </div>
                 <div class="column is-12 featured-content ">
                        <div class="buttons">
               <a href="http://localhost:5000/iniciar-sesion" class="button is-primary"> Iniciar Sesión</a>              
            </div>
                   <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
                  <p align="left"class="post-excerpt">En esta opción puedes iniciar sesión para que puedas acceder a la página, ingresando tu correo electrónico y una contraseña, 
                    si olvidas tu contraseña la puedes recuperar,ingresando a la opción “olvide mi contraseña” y así puedes cambiar la contraseña y volver a ingresar.</p></FONT>
                   <br>
             
                </div>
              </article>
            </div>
             <div class="column post is-6">
              <article class="columns is-multiline">
                <div class="column is-12 post-img">
                  <img src="https://i.postimg.cc/grFf4kxr/iniciarsesion.png" style="width:680px;height:340px;">
                </div>
                 <div class="column is-12 featured-content ">
                        <div class="buttons">
               <a href="http://localhost:5000/iniciar-sesion" class="button is-primary"> Iniciar Sesión</a>              
            </div>
                   <FONT FACE="Arial Rounded MT Bold" SIZE=4 COLOR="black">
                  <p align="left"class="post-excerpt">En esta opción puedes iniciar sesión para que puedas acceder a la página, ingresando tu correo electrónico y una contraseña, 
                    si olvidas tu contraseña la puedes recuperar,ingresando a la opción “olvide mi contraseña” y así puedes cambiar la contraseña y volver a ingresar.</p></FONT>
                   <br>
             
                </div>
              </article>
            </div>

      <body>
         <style>
      

      </style>
      </body>
     

  </section>
