<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
   
        <div class="navbar-menu">
            <div class="navbar-item">      
                    <span class="icon is-left is-small">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div>
    <div class="columns body-columns">
        <div class="column is-half is-offset-one-quarter">


            <div class="card">
                <div class="header">
                    <div class="media">
                        <div class="media-left">
                           
                        </div>
                        <div class="media-content">
                            <font color="black" SIZE=190 face="Bodoni MT Black"></font>
                           
                            <p style = "font-family:courier,arial,helvética;">
                                    
                            <p align="center">INICIO</p>   
                             </p>
                             
                        </div>
                    </div>
                </div>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/random/1280x960" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item has-text-centered">
                    
                            </div>
                            <div class="level-item has-text-centered">
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <p>
                            <strong>32 Likes</strong>
                            <p style = "font-family:courier,arial,helvética;">
</p>
                        </p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        <a>@bulmaio</a>.
                        <a href="#">#css</a>
                        <a href="#">#responsive</a>
                        <br>
                        <time datetime="2018-1-1">11:09 PM - 1 Jan 2018</time>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="columns is-mobile">
                        <div class="column is-11">
                            <div align="center">
                               
                            	<button type="submit" class="button is-primary">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>


             <div class="card">
                <div class="header">
                    <div class="media">
                        <div class="media-left">
                           
                        </div>
                        <div class="media-content">
                        <font color="black" SIZE=190 face="Bodoni MT Black"></font>
                        
                            <p align="center">INICIO</p>   
                          
                        </div>
                    </div>
                </div>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/random/1280x960" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item has-text-centered">
                    
                            </div>
                            <div class="level-item has-text-centered">
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <p>
                            <strong>32 Likes</strong>
                        </p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        <a>@bulmaio</a>.
                        <a href="#">#css</a>
                        <a href="#">#responsive</a>
                        <br>
                        <time datetime="2018-1-1">11:09 PM - 1 Jan 2018</time>
                    </div>
                </div>          
                <div class="card-footer">
                    <div class="columns is-mobile">
                        <div class="column is-11">
                            <div class="field">
                                <div class="w-33"></div>
                            	<button type="submit" class="button is-primary">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
 <div class="card">
                <div class="header">
                    <div class="media">
                        <div class="media-left">
                           
                        </div>
                        <div class="media-content">
                            <font color="black" SIZE=190 face="Bodoni MT Black"></font>
                            <p align="center">INICIO</p>   
                             
                        </div>
                    </div>
                </div>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/random/1280x960" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item has-text-centered">
                    
                            </div>
                            <div class="level-item has-text-centered">
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <p>
                            <strong>32 Likes</strong>
                        </p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        <a>@bulmaio</a>.
                        <a href="#">#css</a>
                        <a href="#">#responsive</a>
                        <br>
                        <time datetime="2018-1-1">11:09 PM - 1 Jan 2018</time>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="columns is-mobile">
                        <div class="column is-11">
                            <div align="center">
                               
                            	<button type="submit" class="button is-primary">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                <div class="header">
                    <div class="media">
                        <div class="media-left">
                           
                        </div>
                        <div class="media-content">
                            <font color="black" SIZE=190 face="Bodoni MT Black"></font>
                            <p align="center">INICIO</p>   
                             
                        </div>
                    </div>
                </div>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/random/1280x960" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item has-text-centered">
                    
                            </div>
                            <div class="level-item has-text-centered">
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <p>
                            <strong>32 Likes</strong>
                        </p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        <a>@bulmaio</a>.
                        <a href="#">#css</a>
                        <a href="#">#responsive</a>
                        <br>
                        <time datetime="2018-1-1">11:09 PM - 1 Jan 2018</time>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="columns is-mobile">
                        <div class="column is-11">
                            <div align="center">
                               
                            	<button type="submit" class="button is-primary">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="card">
                <div class="header">
                    <div class="media">
                        <div class="media-left">
                           
                        </div>
                        <div class="media-content">
                            <font color="black" SIZE=190 face="Bodoni MT Black"></font>
                            <p align="center">INICIO</p>   
                             
                        </div>
                    </div>
                </div>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/random/1280x960" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item has-text-centered">
                    
                            </div>
                            <div class="level-item has-text-centered">
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <p>
                            <strong>32 Likes</strong>
                        </p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        <a>@bulmaio</a>.
                        <a href="#">#css</a>
                        <a href="#">#responsive</a>
                        <br>
                        <time datetime="2018-1-1">11:09 PM - 1 Jan 2018</time>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="columns is-mobile">
                        <div class="column is-11">
                            <div align="center">
                               
                            	<button type="submit" class="button is-primary">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="card">
                <div class="header">
                    <div class="media">
                        <div class="media-left">
                           
                        </div>
                        <div class="media-content">
                            <font color="black" SIZE=190 face="Bodoni MT Black"></font>
                            <p align="center">INICIO</p>   
                             
                        </div>
                    </div>
                </div>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/random/1280x960" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item has-text-centered">
                    
                            </div>
                            <div class="level-item has-text-centered">
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <p>
                            <strong>32 Likes</strong>
                        </p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        <a>@bulmaio</a>.
                        <a href="#">#css</a>
                        <a href="#">#responsive</a>
                        <br>
                        <time datetime="2018-1-1">11:09 PM - 1 Jan 2018</time>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="columns is-mobile">
                        <div class="column is-11">
                            <div align="center">
                               
                            	<button type="submit" class="button is-primary">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="card">
                <div class="header">
                    <div class="media">
                        <div class="media-left">
                           
                        </div>
                        <div class="media-content">
                            <font color="black" SIZE=190 face="Bodoni MT Black"></font>
                            <p align="center">INICIO</p>   
                             
                        </div>
                    </div>
                </div>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/random/1280x960" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item has-text-centered">
                    
                            </div>
                            <div class="level-item has-text-centered">
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <p>
                            <strong>32 Likes</strong>
                        </p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        <a>@bulmaio</a>.
                        <a href="#">#css</a>
                        <a href="#">#responsive</a>
                        <br>
                        <time datetime="2018-1-1">11:09 PM - 1 Jan 2018</time>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="columns is-mobile">
                        <div class="column is-11">
                            <div align="center">
                               
                            	<button type="submit" class="button is-primary">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="card">
                <div class="header">
                    <div class="media">
                        <div class="media-left">
                           
                        </div>
                        <div class="media-content">
                            <font color="black" SIZE=190 face="Bodoni MT Black"></font>
                            <p align="center">INICIO</p>   
                             
                        </div>
                    </div>
                </div>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/random/1280x960" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item has-text-centered">
                    
                            </div>
                            <div class="level-item has-text-centered">
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <p>
                            <strong>32 Likes</strong>
                        </p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        <a>@bulmaio</a>.
                        <a href="#">#css</a>
                        <a href="#">#responsive</a>
                        <br>
                        <time datetime="2018-1-1">11:09 PM - 1 Jan 2018</time>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="columns is-mobile">
                        <div class="column is-11">
                            <div align="center">
                               
                            	<button type="submit" class="button is-primary">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
                
            </div>
                
            </div>
                
            </div>
                
            </div> 
            </div>

                
            </div>

            <footer class="footer">
                <div class="container is-fluid">
                    <div class="content has-text-centered">
                      
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>