<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Neumorphic Login - Free Bulma template</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/neumorphic-login.css">
  </head>

  <body>            
     <h3 class="card-title" style="font-weight: bold;">Ingresa nueva tu contraseña</h3>
            <p class="card-text text-center mt-5">Has solicitado el cambio de tu contraseña anterior. Ingresa una nueva
              para continuar utilizando Du-lernst
    <div class="hero is-fullheight content=center " style="margin: -10% 0 0 38%;" >
      <div class="hero-body has-text-centered" >
        <div class="login">
         <img src="https://i.postimg.cc/SstF0wQS/dulernst-fw.png" alt="Bulma: a modern CSS framework based on Flexbox"width="200" height="80">
            <br>
            <br>
            {{!-- Mensajes para el usuario --}}
           {{> showMessages messages}}
          <form class="register-form" method="POST">
            <div class="field">
              <div class="control">
                <input class="input is-medium is-rounded" type="password" name="password" placeholder="New Password" required>
              </div>
            </div>           
            <button class="button is-block is-info is-large is-fullwidth">Cambiar <i class="fas fa-sign-in-alt" aria-hidden="true"></i></button>
          </form>
          <br>
          
        </div>
      </div>
    </div>
    
  </body>

</html>
