<!DOCTYPE html>
<html>

<body>

    <!-- END NAV -->
    <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">
                      
             <span class="icon zice 36px  has-text-success">
  <i class="fas fa-check-square"></i>      
   <img src="https://images.vexels.com/media/users/3/147102/isolated/preview/082213cb0f9eabb7e6715f59ef7d322a-icono-de-perfil-de-instagram-by-vexels.png">

</span>           
     <ul class="menu-list">
      <li><a class="is-active">Perfil</a></li>
                        <li><a>Usuarios</a></li>
                        <li><a>Cursos</a></li>
                        <li><a>Cupos</a></li>
                        <li><a>Horarios</a></li>
     </ul>
     </aside>             
 </div>
 <div class="column is-9">
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                         <div class="container">

 <div class="column is-3">
          
            <div class="card-image">
             
                     
                <img src="https://source.unsplash.com/6Ticnhs1AG0" >
              
            </div>
            <div class="card-content">
           <p class="subtitle">Ayudaaaa </p>
            </div>
          </div>
        </div>

                        </div>
                    </div>
                </section>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                             
                          
                </section>
                <div class="columns">
                    <div class="column is-6">
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Datos Personales
                                </p>
                                <a href="#" class="" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                            <tr>
                                               
                                                <td>Identificacion:</td>
                                                <td class="level-right"><a class="button is-small is-primary" href="#"></a></td>
                                            </tr>
                                            <tr>
                                               
                                                <td>Nombre:</td>
                                                <td class="level-right"><a class="button is-small is-primary" href="#"></a></td>
                                            </tr>
                                            <tr>
                                                  <td>Apellido:</td>
                                                  
                                                <td> <input class="" type="email" placeholder="" autocomplete="username" required /> </td>
                                            </tr>
                                            <tr>
                                               
                                                <td>Telefono:</td>
                                                <td class="level-right"><a class="button is-small is-primary" href="#"></a></td>
                                            </tr>
                                            <tr>
                                              
                                                <td>Correo:</td>
                                                <td class="level-right"><a class="button is-small is-primary" href="#"></a></td>
                                            </tr>
                                              <td>Contraseña:</td>
                                                <td class="level-right"><a class="button is-small is-primary" href="#"></a></td>
                                            </tr>
                                            <tr>
                        
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                    
                    
                   

                        
    <script async type="text/javascript" src="../js/bulma.js"></script>
       

</body>

</html>