<!DOCTYPE html>

<html>

<body>
    <!-- END NAV -->
    <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">
                      
             <span class="icon zice 36px  has-text-success">
  <i class="fas fa-check-square"></i>      
   <img src="https://images.vexels.com/media/users/3/147102/isolated/preview/082213cb0f9eabb7e6715f59ef7d322a-icono-de-perfil-de-instagram-by-vexels.png">

</span>           
     <ul class="menu-list">
      <li><a class="is-active">Perfil</a></li>
                       
     </ul>
     </aside>             
 </div>
 
       <div class="column is-8">
             <div class="columns">
                    <div class="column is-6">
                        
                                                                                                                                                                                
                                                                                                                                                                     
                        <header class="card-header">
                          

                                <p class="card-header-title ">
                                 
                                    DATOS PERSONALES
                                </p>
                             
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>  
                  </span>
                  
                </a>
             </header>
 <header class="card-header"></header>
                           
                                             
     <div class="content">
                                    <table class="table is-fullwidth is-striped">
       {{#each usuario as |user|}}                                 
   <div class="form-group">
     
     <span class="icon has-text-info">
  
</span>

 <img src="uploads/cursos/{{user.imagen}}"
>


 <form action="/actualizar-perfil" method="POST" enctype="multipart/form-data">


<div class="field">
<div class="fileinput fileinput-new text-center" data-provides="fileinput">
  <div class="fileinput-preview fileinput-exists thumbnail img-no-padding"
    style="max-width: 370px; max-height: 250px;">
  </div>
  <div>
    <span class="btn btn-outline-default btn-round btn-file"><label class="label">Selecciona una Imagen</label><br>
    <span class="fileinput-exists">Cambiar  </span><input type="file" name="imagen"></span>
    <a href="#paper-kit" class="btn btn-link btn-danger fileinput-exists" data-dismiss="fileinput">
      <i class="fa fa-times"></i>Quitar</a>
  </div>
</div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" type="submit">Guardar</button>
  </div>
  <div class="control">
    <button class="button is-link is-light" type="reset">Descartar</button>
  </div>
</div>

</form>
 





         
<br><br/>

</div>
</div>
<div class="form-group">


           <label for="mobile"><h4><img src="" 
                            height="25" width="25" /> 
                             <label for="nombre" class="font-weight-bold">

            Nombre:
          </label>
  <input

            type="text"
            class="input is-medium is-rounded"
            name="nombre"
            id="nombre"
            value="{{user.nombre}}"
          />
          </div>
        <div class="form-group">
             <label for="mobile"><h4><img src="https://cdn.icon-icons.com/icons2/1826/PNG/512/4202011emailgmaillogomailsocialsocialmedia-115677_115624.png" 
                            height="25" width="25" /> 
          <label for="email" class="font-weight-bold">
            Correo:
          </label>
          <input
            type="email"
            class="input is-medium is-rounded"
            name="email"
            id="email"
            placeholder="correo@ejemplo.com"
            value="{{user.email}}"
          />
        </div>

         {{/each}}
         
        
       <div class="">
         
       
          </form>
             <a class="button is-block is-info is-large is-fullwidth" style="background-color: #0c0c0c;"href="/olvide-password">
               
										<span class="icon">
											<i class="fa fa-user"></i>
										</span>
										<span>Cambiar contraseña</span>
									</a>
              
                   
  </div>
 
      </form>
        </tbody>
                 </table>
                                </div>
                            </div>

                        </div>
                    </div>

                    <hr>

        </div>

                          </div>
                      </div>
    
  
                     
                     
                      
                        
    <script async type="text/javascript" src="../js/bulma.js"></script>
       

</body>

</html>