<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/neumorphic-login.css">
  </head>


  <body>
            
    <h1 class="card-title" style="font-weight: bold; font-size: 30px; ">Restablece tu contraseña</h1>
          <h2 style="font-size: 20px;">  <p class="card-text text-center mt-5">Ingresa la dirección de correo con la que te registraste en du-lernst </h2>
    <div class="hero is-fullheight content=center " style="margin: -10% 0 0 38%;" >
      <div class="hero-body has-text-centered" >
        <div class="login">
         <img src="https://i.postimg.cc/SstF0wQS/dulernst-fw.png" alt="Bulma: a modern CSS framework based on Flexbox"width="200" height="80">
            <br>
            <br>
             {{!-- Mensajes para el usuario --}}
            {{> showMessages messages}}

          <form class="register-form" method="POST" action="/olvide-password">
            <div class="field">
              <div class="control">
                <input class="input is-medium is-rounded" type="text"  name="email" autocomplete="current-password" placeholder="Correo Electronico" required >
              </div>
            </div>
            <br />
           
            <button class="button is-block is-info is-large is-fullwidth">Restablecer <i class="fas fa-sign-in-alt" aria-hidden="true"></i></button>
          </form>
          <br>
          
        </div>
      </div>
    </div>
    
  </body>

</html>
