<div class="container">
  <h3>
    Matematicas
  </h3>
  {{#each videos as |videoss|}}
  <div class="card">
    <div class="card-body">
      <video class="w-100 d-block" controls>
        <source src="uploads/vid/{{video}}" type="video/mp4" />
      </video>
    </div>
  </div>
{{/each}}

</div>