<div class="container is-transparent">

  {{#each videos as |video|}}
  <h3>
    {{video.nombre}}
  </h3>
  
  <div class="card">
    <div class="card-body">
      <video class="w-100 d-block" controls>
        <source src="uploads/vid/{{video.video}}" type="video/mp4" />
      </video>
    </div>
  </div>
  
{{/each}}

</div>