<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bulma Videos Template</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>
  </section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-d4b821f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d4b821f" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f9dede8" data-id="f9dede8" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-dc376fe elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="dc376fe" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ddb605f" data-id="ddb605f" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-b318f36 elementor-widget elementor-widget-heading" data-id="b318f36" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">cursos populares</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-832bdbd elementor-widget elementor-widget-divider" data-id="832bdbd" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f9aba99" data-id="f9aba99" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-26fbb4b elementor-align-right elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="26fbb4b" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="https://mitutoriavirtual.com/neve-courses-courses/" class="elementor-button-link elementor-button elementor-size-lg" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Ver todos los cursos</span>
		</span>
					</a>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-68b9d01 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="68b9d01" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-068051b" data-id="068051b" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-752b8a3 elementor-widget elementor-widget-image" data-id="752b8a3" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img src="https://mitutoriavirtual.com/wp-content/uploads/elementor/thumbs/Algebra-General-oi8la741jv7830lao6nsyrzxt8jwcd0xh7hd9h491s.jpg" title="Handwriting of mathematics quadratic equation formula on examination, practice, quiz or test in maths class. Solving exponential equations background concept." alt="Handwriting of mathematics quadratic equation formula on examination, practice, quiz or test in maths class. Solving exponential equations background concept." />											</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-e11af92 elementor-widget elementor-widget-heading" data-id="e11af92" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">Algebra general</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-1aa20d1 elementor--star-style-star_unicode elementor-star-rating--align-center elementor-widget elementor-widget-star-rating" data-id="1aa20d1" data-element_type="widget" data-widget_type="star-rating.default">
				<div class="elementor-widget-container">
			
		<div class="elementor-star-rating__wrapper">
							<div class="elementor-star-rating__title">34  calificaciones</div>
						<div class="elementor-star-rating" title="5/5" itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating"><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i> <span itemprop="ratingValue" class="elementor-screen-only">5/5</span></div>		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-2e981fa elementor-align-center elementor-widget elementor-widget-button" data-id="2e981fa" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="https://mitutoriavirtual.com/neve-courses-course-details/" class="elementor-button-link elementor-button elementor-size-sm" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Ver Detalles</span>
		</span>
					</a>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-95f7414" data-id="95f7414" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-a3646a3 elementor-widget elementor-widget-image" data-id="a3646a3" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img src="https://mitutoriavirtual.com/wp-content/uploads/elementor/thumbs/Leyes-de-Newton-oi8lsls9e2edg3uq6n3samrwlvto2z3p0beoljtp74.jpg" title="Newton Second Law" alt="Newton Second Law" />											</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-91e9d94 elementor-widget elementor-widget-heading" data-id="91e9d94" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">Fisica basica</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-2a4f163 elementor--star-style-star_unicode elementor-star-rating--align-center elementor-widget elementor-widget-star-rating" data-id="2a4f163" data-element_type="widget" data-widget_type="star-rating.default">
				<div class="elementor-widget-container">
			
		<div class="elementor-star-rating__wrapper">
							<div class="elementor-star-rating__title">12  calificaciones</div>
						<div class="elementor-star-rating" title="4/5" itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating"><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-empty">&#9733;</i> <span itemprop="ratingValue" class="elementor-screen-only">4/5</span></div>		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-e6548cb elementor-align-center elementor-widget elementor-widget-button" data-id="e6548cb" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="https://mitutoriavirtual.com/neve-courses-course-details/" class="elementor-button-link elementor-button elementor-size-sm" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Ver detalles</span>
		</span>
					</a>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-81a4209" data-id="81a4209" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-99aa27f elementor-widget elementor-widget-image" data-id="99aa27f" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img src="https://mitutoriavirtual.com/wp-content/uploads/elementor/thumbs/Quimica-General-oi8lwmjemjwj420gpdobym8w38070d2cw7vgi5v2kw.jpg" title="Chemical tube with reaction formula" alt="Chemical tube with reaction formula in light" />											</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-00953a3 elementor-widget elementor-widget-heading" data-id="00953a3" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">quimica basica</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-6b382be elementor--star-style-star_unicode elementor-star-rating--align-center elementor-widget elementor-widget-star-rating" data-id="6b382be" data-element_type="widget" data-widget_type="star-rating.default">
				<div class="elementor-widget-container">
			
		<div class="elementor-star-rating__wrapper">
							<div class="elementor-star-rating__title">122  calificaciones </div>
						<div class="elementor-star-rating" title="4.5/5" itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating"><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-5">&#9733;</i> <span itemprop="ratingValue" class="elementor-screen-only">4.5/5</span></div>		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-15046cf elementor-align-center elementor-widget elementor-widget-button" data-id="15046cf" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="https://mitutoriavirtual.com/neve-courses-course-details/" class="elementor-button-link elementor-button elementor-size-sm" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Ver detalles</span>
		</span>
					</a>
                    </div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
  </body>
</html>