<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  
  <body>

  <!-- hero----------------------------------------------------------------------------->
  <section class="hero is-primary">
      <div class="hero-body">
          <div class="container">
              <h1 class="title is-1">Coding Quotes</h1>>
              <h2 class="subtitle">Like your favorite</h2>
              </div>
                  </div>
                       
              </section>

              <!-- columns----------------------------------------------------------------------->
              <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-3">

		<div id="here" class="columns">
			<div class="column">
				<div class="menu sticky">				
					<p  class="menu-label"><b>Videos Disponibles</b></p>
					<ul id="menu" class="menu-list">
						<li><a href="#basic">Matematicas</a></li>
						<li><a href="#keyword">Español</a></li>
						<li><a href="#onpage">Computación</a></li>
						<li><a href="#content">Clases de Ingles</a></li>
						<li><a href="#technical">Física</a></li>
						
					</ul>
				</div>
			</div>
			
            <div class="column  content">
                  
				<h2 id="basic" class="title is-3">Matematicas</h2>
                  <div class="columns">
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                          <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>

                                </footer>
                               
                                </footer>
                   
                  </div>
                  </div>
                  <div class="column ">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  

                                

                                </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div> 
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                   </div>

                  
                                  </footer>
                                   

                                   



                               
                                

                                </div>
                                </div>
                                 
                                <a class="button">Ver todos los Cursos</a>
                                   </a> 
                                
                 <div class="column  content">

				<h2 id="basic" class="title is-3">Computación</h2>
             
             
              <div class="columns">
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                          <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>

                                </footer>
                               
                                </footer>
                   
                  </div>
                  </div>
                  <div class="column ">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  

                                

                                </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div> 
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                   </div>
                  
                                  </footer>
                                   

                                   



                               
                                

                           
                                

                                </div>
                                </div>
                                
                        <a class="button">Ver todos los Cursos</a>
                                
                 <div class="column  content">

				<h2 id="basic" class="title is-3">Español</h2>
             
             
              <div class="columns">
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                          <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>

                                </footer>
                               
                                </footer>
                   
                  </div>
                  </div>
                  <div class="column ">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  

                                

                                </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div> 
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                   </div>
                  
                                  </footer>
                                

                                

                                  </div>
                                </div>
                                <a class="button">Ver todos los Cursos</a>
                                
                 <div class="column  content">

				<h2 id="basic" class="title is-3">Clases de Ingles</h2>
             
             
              <div class="columns">
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                          <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>

                                </footer>
                               
                                </footer>
                   
                  </div>
                  </div>
                  <div class="column ">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  

                                

                                </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div> 
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                   </div>
                  
                                  </footer>  

                                </div>
                                </div>

                                     </div>
                                </div>
                                 <a class="button">Ver todos los Cursos</a>
                                
                 <div class="column  content">

				<h2 id="basic" class="title is-3">Física</h2>
             
             
              <div class="columns">
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                          <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>

                                </footer>
                               
                                </footer>
                   
                  </div>
                  </div>
                  <div class="column ">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  

                                

                                </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div> 
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                 </footer>
                  </footer>
                  </div>
                  </div>
                  <div class="column">
                  <div class="card">
                      <div class="card-content">
                          <h2 class="title">"Quote"</h2>
                          <h3 class="subtitle">Author</h3>
                          </div>
                                 <footer class="card-footer">
                            <div class="card-footer-item">
                                <a href="#" class="button is-success">
                                   <i class="fas fa-play-circle"></i>
                                </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-danger">
                                   <i class="fas fa-redo-alt"></i>  
                                    </a>
                                </div>
                              <div class="card-footer-item">
                                <a href="#" class="button is-info">
                                  <i class="fas fa-expand"></i> 
                                   </a>
                                   </div>
                                   </div>


                  
                                  </footer>
                                   

                                   



                               
                                

                                </div>
                                </div>
                                 <a class="button">Ver todos los Cursos</a>

  </body>
</html>