<h1 style="text-align: center; font-family:Arial, Helvetica, sans-serif">Restablecer tu contrase単a</h1>

<p style="font-family: Arial, Helvetica, sans-serif;">
  Hola {{nombre}}, has solicitado restablecer tu contrase単a, has clic en el siguiente enlace.
  Este enlace es temporal, si se vence
  es necesario volver a solicitar el restablecimiento de tu contrase単a.
</p>

<a href="{{resetUrl}}" style="
  display: block; 
  font-family:Arial, Helvetica, sans-serif;
  padding: 1rem;
  background-color: #f33816;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;">
  Cambia tu contrase単a
</a>